@theme {
  --color-neutral-50: #F8F8F8;

  --color-gray-25: #F6F6F6;
  --color-gray-50: #F1F1F1;
  --color-gray-100: #E4E4E4;
  --color-gray-200: #D6D6D6;
  --color-gray-300: #ADADAD;
  --color-gray-400: #919191;
  --color-gray-500: #767676;
  --color-gray-600: #434343;
  --color-gray-700: #292929;
  --color-gray-800: #242424;
  --color-gray-900: #181818;
  --color-gray-950: #0C0C0C;
  --color-gray-975: #060606;

  --color-brand-25: #F2F5FF;
  --color-brand-50: #CCD7FF;
  --color-brand-100: #B2C3FF;
  --color-brand-200: #99AFFF;
  --color-brand-300: #6688FF;
  --color-brand-400: #3360FF;
  --color-brand-500: #0038FF;
  --color-brand-600: #0005CC;
  --color-brand-700: #000099;
  --color-brand-800: #00007F;
  --color-brand-900: #000066;
  --color-brand-950: #00004D;
  --color-brand-975: #000033;

  --color-info-25: #F2FDFF;
  --color-info-50: #D6FAFF;
  --color-info-100: #B2F6FF;
  --color-info-200: #99F3FF;
  --color-info-300: #66EDFF;
  --color-info-400: #33E6FF;
  --color-info-500: #00E0FF;
  --color-info-600: #00ADCC;
  --color-info-700: #007A99;
  --color-info-800: #006180;
  --color-info-900: #004766;
  --color-info-950: #002E4C;
  --color-info-975: #001433;

  --color-success-25: #F8FEF9;
  --color-success-50: #ECFDF3;
  --color-success-100: #D1FADF;
  --color-success-200: #A6F4C5;
  --color-success-300: #6CE9A6;
  --color-success-400: #32D583;
  --color-success-500: #12B76A;
  --color-success-600: #039855;
  --color-success-700: #027A48;
  --color-success-800: #05603A;
  --color-success-900: #054F31;
  --color-success-950: #053321;
  --color-success-975: #042515;

  --color-warning-25: #FFFCF5;
  --color-warning-50: #FFFAEB;
  --color-warning-100: #FEF0C7;
  --color-warning-200: #FEDF89;
  --color-warning-300: #FEC84B;
  --color-warning-400: #FDB022;
  --color-warning-500: #F79009;
  --color-warning-600: #DC6803;
  --color-warning-700: #B54708;
  --color-warning-800: #93370D;
  --color-warning-900: #7A2E0E;
  --color-warning-950: #4E1D09;
  --color-warning-975: #311D02;

  --color-error-25: #FFFBFA;
  --color-error-50: #FEF3F2;
  --color-error-100: #FEE4E2;
  --color-error-200: #FECDCA;
  --color-error-300: #FDA29B;
  --color-error-400: #F97066;
  --color-error-500: #F04438;
  --color-error-600: #D92D20;
  --color-error-700: #B42318;
  --color-error-800: #912018;
  --color-error-900: #7A271A;
  --color-error-950: #55160C;
  --color-error-975: #300E0B;

  --color-gray-blue-25: #FCFCFD;
  --color-gray-blue-50: #F8F9FC;
  --color-gray-blue-100: #EAECF5;
  --color-gray-blue-200: #D5D9EB;
  --color-gray-blue-300: #AFB5D9;
  --color-gray-blue-400: #717BBC;
  --color-gray-blue-500: #4E5BA6;
  --color-gray-blue-600: #3E4784;
  --color-gray-blue-700: #363F72;
  --color-gray-blue-800: #293056;
  --color-gray-blue-900: #101323;
  --color-gray-blue-950: #0C111D;
  --color-gray-blue-975: #080911;

  --color-gray-warm-25: #FDFDFC;
  --color-gray-warm-50: #FAFAF9;
  --color-gray-warm-100: #F5F5F4;
  --color-gray-warm-200: #E7E5E4;
  --color-gray-warm-300: #D7D3D0;
  --color-gray-warm-400: #A9A29D;
  --color-gray-warm-500: #79716B;
  --color-gray-warm-600: #57534E;
  --color-gray-warm-700: #44403C;
  --color-gray-warm-800: #292524;
  --color-gray-warm-900: #1C1917;
  --color-gray-warm-950: #0D0F1C;
  --color-gray-warm-975: #0C0C0B;

  --color-gray-cool-25: #FCFCFD;
  --color-gray-cool-50: #F8FAFC;
  --color-gray-cool-100: #EEF2F6;
  --color-gray-cool-200: #E3E8EF;
  --color-gray-cool-300: #CDD5DF;
  --color-gray-cool-400: #9AA4B2;
  --color-gray-cool-500: #697586;
  --color-gray-cool-600: #4B5565;
  --color-gray-cool-700: #364152;
  --color-gray-cool-800: #202939;
  --color-gray-cool-900: #121926;
  --color-gray-cool-950: #0D121C;
  --color-gray-cool-975: #0B0C0E;

  --color-moss-25: #FAFDF7;
  --color-moss-50: #F5FBEE;
  --color-moss-100: #E6F4D7;
  --color-moss-200: #CEEA80;
  --color-moss-300: #ACDC79;
  --color-moss-400: #86CB3C;
  --color-moss-500: #669F2A;
  --color-moss-600: #4F7A21;
  --color-moss-700: #3F621A;
  --color-moss-800: #335015;
  --color-moss-900: #2B4212;
  --color-moss-950: #1A280B;
  --color-moss-975: #0F1806;

  --color-green-25: #F6FEF9;
  --color-green-50: #EDFCF2;
  --color-green-100: #D3F8DF;
  --color-green-200: #AAF0C4;
  --color-green-300: #73E2A3;
  --color-green-400: #3CCB7F;
  --color-green-500: #16B364;
  --color-green-600: #099250;
  --color-green-700: #087443;
  --color-green-800: #095C37;
  --color-green-900: #084C2E;
  --color-green-950: #052E1C;
  --color-green-975: #03180F;

  --color-teal-25: #F6FEFC;
  --color-teal-50: #F0FDF9;
  --color-teal-100: #CCFBEF;
  --color-teal-200: #99F6E0;
  --color-teal-300: #5FE9D0;
  --color-teal-400: #2ED3B7;
  --color-teal-500: #15B79E;
  --color-teal-600: #0E9384;
  --color-teal-700: #107569;
  --color-teal-800: #125D56;
  --color-teal-900: #134E48;
  --color-teal-950: #0A2926;
  --color-teal-975: #031818;

  --color-blue-25: #F5FAFF;
  --color-blue-50: #EFF8FF;
  --color-blue-100: #D1E9FF;
  --color-blue-200: #B2DDFF;
  --color-blue-300: #84CAFF;
  --color-blue-400: #53B1FD;
  --color-blue-500: #2E90FA;
  --color-blue-600: #1570EF;
  --color-blue-700: #175CD3;
  --color-blue-800: #1849A9;
  --color-blue-900: #194185;
  --color-blue-950: #102A56;
  --color-blue-975: #091D32;

  --color-indigo-25: #F5F8FF;
  --color-indigo-50: #EEF4FF;
  --color-indigo-100: #E0EAFF;
  --color-indigo-200: #C7D7FE;
  --color-indigo-300: #A4BCFD;
  --color-indigo-400: #8098F9;
  --color-indigo-500: #6172F3;
  --color-indigo-600: #444CE7;
  --color-indigo-700: #3538CD;
  --color-indigo-800: #2D31A6;
  --color-indigo-900: #2D3282;
  --color-indigo-950: #1F2937;
  --color-indigo-975: #181C3D;

  --color-purple-25: #FAFAFF;
  --color-purple-50: #F4F3FF;
  --color-purple-100: #EBE9FE;
  --color-purple-200: #D9D6FE;
  --color-purple-300: #BDB4FE;
  --color-purple-400: #9B8AFB;
  --color-purple-500: #7A5AF8;
  --color-purple-600: #6938EF;
  --color-purple-700: #5925DC;
  --color-purple-800: #4A1FB8;
  --color-purple-900: #3E1C96;
  --color-purple-950: #27115F;
  --color-purple-975: #22173E;

  --color-pink-25: #FEF6FB;
  --color-pink-50: #FDF2FA;
  --color-pink-100: #FCE7F6;
  --color-pink-200: #FCCEEE;
  --color-pink-300: #FAA7E0;
  --color-pink-400: #F670C7;
  --color-pink-500: #EE46BC;
  --color-pink-600: #DD2590;
  --color-pink-700: #C11574;
  --color-pink-800: #9E165F;
  --color-pink-900: #851651;
  --color-pink-950: #4E0D30;
  --color-pink-975: #300E26;

  --color-rose-25: #FFF5F6;
  --color-rose-50: #FFF1F3;
  --color-rose-100: #FFE4E8;
  --color-rose-200: #FECDD6;
  --color-rose-300: #FEA3B4;
  --color-rose-400: #FD6F8E;
  --color-rose-500: #F63D68;
  --color-rose-600: #E31B54;
  --color-rose-700: #C01048;
  --color-rose-800: #A11043;
  --color-rose-900: #89123E;
  --color-rose-950: #510B24;
  --color-rose-975: #310C19;

  --color-orange-25: #FFFAF5;
  --color-orange-50: #FFF6ED;
  --color-orange-100: #FFEAD5;
  --color-orange-200: #FDDCAB;
  --color-orange-300: #FEB273;
  --color-orange-400: #FD853A;
  --color-orange-500: #FB6514;
  --color-orange-600: #EC440A;
  --color-orange-700: #C4320A;
  --color-orange-800: #9C2A10;
  --color-orange-900: #7E2410;
  --color-orange-950: #511C10;
  --color-orange-975: #320C04;

  --color-yellow-25: #FEFDF0;
  --color-yellow-50: #FEFBE8;
  --color-yellow-100: #FEF7C3;
  --color-yellow-200: #FEEE95;
  --color-yellow-300: #FDE272;
  --color-yellow-400: #FAC515;
  --color-yellow-500: #EAAA08;
  --color-yellow-600: #CA8504;
  --color-yellow-700: #A15C07;
  --color-yellow-800: #854A0E;
  --color-yellow-900: #713B12;
  --color-yellow-950: #542C0D;
  --color-yellow-975: #2F2202;
}